extends ../layouts/default

block content
	.container: .jumbotron

		img(src='https://pbs.twimg.com/profile_images/269279233/llama270977_smiling_llama_400x400.jpg' width='160')

		h1 Welcome

		h1 What are you dealing with?

		row
			col-md-4
				a(href='#test')
		


	</div>